.candidate-panel-page {
    background-image: url('bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
  }
  .candidate-panel-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 150px; /* Adjust this based on the actual height of your header */
    z-index: 1000;
    width: 100%; /* Optional background */
    display: flex;
    justify-content: space-between; /* Space between logo and logout button */
    align-items: center;
    padding: 0 2rem;
  }

  .candidate-panel-content {
   color: #f9f9f9;
    border-radius: 8px;
    padding: 2rem;
    max-width: 800px;
    margin-left:10%;
    color: #f1eeee;
    margin-top:150px;
  }
  
  .title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #ccbcf3;
  }
  
  .candidate-details {
    margin-bottom: 2rem;
  }
  
  .detail-item {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column; 
  }
  
  .detail-item strong {
    color: #92b4c7; margin-bottom: 0.1rem; 
  }
  
  .button-group {
    display:flex;/* Align buttons to the end (right side) */
 justify-content: flex-end;
  max-width: 800px;
margin-top: 185px;
margin-left:60%;
    position:absolute;
  }
  
  .action-button {
    color: white;
    border: 2px solid rgb(221, 181, 233);
    border-radius: 100px;
    width:auto;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
    font-size: 1rem;
  }
  
  .action-button:hover {
    background-color: #c1a2f5;
    color :rgb(14, 13, 13);
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    color: rgb(104, 101, 101);
    text-align: right;
    
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
    margin-right:5%;
}