/* editJobDescription.css */
.edit-job-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: #fff; /* White background for the popup */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 600px; /* Max width for the popup */
    margin: auto; /* Center the popup */
  }
  
  .edit-job-description input,
  .edit-job-description select,
  .edit-job-description textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .edit-job-description button {
    background-color: #3f1b91;
    color: white;
    padding: 0.5rem 1rem;
    border: none;margin-right:1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .edit-job-description button:hover {
    background-color: rgb(171, 204, 255);
    color: #0a0a0a;
  }
  
  .error-message {
    color: red;
  }
  
  .cancel-button {
    background-color: #ddd;
    color: #333; /* Darker color for better readability */
    margin-left: 0.5rem; /* Space between buttons */
  }
  